*{
	margin: 0;
}

html{
	height: 100%;
}

body {
	margin: auto 0;
	padding: 0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #ffffff;
	background-image: url("../images/cheap_diagonal_fabric.png");
	color: #777777;
	width: 100%
}

.wrapper {
	min-height: 100%
	height: auto !important;
	height: 100%;
	margin: 0 auto -91px;
	width: 960px;
}

.footer, .push {
	height: 91px;
	clear: both;
	background-color: #666666;
}

nav {
	float: right;
}

h2 {
	margin: 5%;
	padding-bottom: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: bold;
	color: #4aaaa5;
	border-bottom: 3px solid #dddddd;

}

h3 {
	padding: 30px 0;
	color: #4aaaa5;
	padding-bottom: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 3px solid #dddddd;

}

header{
	background-color: white;
	color: #777777;
	height: 88px;
	border-bottom: 3px solid #dddddd;
	margin-bottom: 30px;

}

#nav-buttons ul {
	list-style-type:none;
	display: inline-block;
	text-decoration: none; 
	overflow: hidden;
	padding: 20px 0px;

}

#nav-buttons li {
	float: right;
	border-left: 1px solid #dddddd;
}

#nav-buttons ul:last-child {
	border-left: none;
}

#nav-buttons li a {
	display: block;
	text-align; center;
	padding: 14px 16px;
	text-decoration: none;
	color: #777777;
}

#nav-buttons li a:visited {
	color: #777777;
}

#nav-buttons li a:hover {
	background-color: #4aaaa5;
	color: white;
}

.logo {
	padding: 30px 3%;
	float: left;
	text-decoration: none;
	overflow: auto;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: bold;
	background-color: #4aaaa5;
	color: white;
}

.about-me {
	background-color: white;
	overflow: auto;
	width: 650px;
	float:left;
	padding: 0px 0px 30px 0px;
	margin-bottom: 30px;
}

.email-me {
	background-color: white;
	overflow: auto;
	width: 650px;
	float:left;
	padding: 0px 0px 30px 0px;
	margin-bottom: 30px;
}

#bio-image {
	width: 200px;
	height: auto;
	float: left;
	padding: 0px 5%;
}

.bio {
	padding: 0px 30px 0px 30px;
	line-height: 200%;
}

form {
	padding: 0px 30px 0px 30px;
	line-height: 200%;
}

input {
	width: 570px;
}

input[type=text] {
	border: 1px solid #dddddd;
	padding: 10px;
	color: #cccccc;
	font-size: 14px;
}

textarea {
	width: 570px;
	height: 150px;
	border: 1px solid #dddddd;
	padding: 10px;
	color: #cccccc;
	font-size: 14px;
}

input[type=button], input[type=submit], input[type=reset] {
	width: 100px;
	background-color: #4aaaa5;
	border: none;
	color: white;
	padding: 10px 10px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 17px;
}

.gallery {
	background-color: white;
	overflow: auto;
	width: 650px;
	float:left;
	margin-bottom: 30px;
}

.portfolio-pic-left {
	position: relative;
	padding: 0 0 30px 5%;
	float: left;
}

.portfolio-pic-right {
	position: relative;
	padding: 0 5% 30px 0;
	float: right;
}

.gallery img {
	width: 275px;
	height: auto;
}

.portfolio-name {
	position: absolute;
	top: 200px;
	width: 275px;
	padding: 20px 0px;
	color: white;
	background-color: #4aaaa5;
	font-size: 20px;
	text-align: center;
	opacity: ;

}

.sidebar {
	width: 210px;
	padding: 0px 30px 30px 30px;
	background-color: white;
	float:right;
}

#contact-me ul {
	display: block;
	list-style-type:none;
	padding: 30px 0px;
	overflow: hidden;
}

#contact-me li {
	border:none;
}

#contact-me li a {
	padding: 0px 10px 0px 0px;
	float:left;
}

#contact-me-right li a {
	padding: none;
	float:right;
}

.contact-me-thumbnail {
	width: 60px;
	height: 60px;
}


.p-footer {
	color: #dddddd;
	font-size: 15px;
	text-align: center;
	padding-top: 30px;
	border-top: 10px solid #4aaaa5;
}

@media screen and (max-width: 980px) {
	body {
		width: 100%;
	}

	.wrapper{
		width: 94%;
	}
	.about-me {
		width: 60.9%;
	}
	.gallery {
		wdith: 60.9%;
	}
	.email-me {
		width: 60.9%;
	}
	.sidebar{
		width: 28%;
	}
	#contact-me li a {
	padding: 0px 3.2% 0px 0px;

}

}
@media screen and (max-width: 768px) {
	body {
		width: 100%;
	}

	.wrapper{
		width: 94%}

	.about-me{
		width: 100%;
	}


	.gallery {
		width: 100%;
	}

	.email-me {
		width: 100%;

	}
	form {
		margin: 0px 30px 0px 0px;
	}
	.sidebar{
		width: 100%;
		padding: 0px 0px 30px 0px;
		margin-bottom: 30px;
		float: left;
	}

	#contact-me ul {
		display: block;
		list-style-type:none;
		padding: 0px 30px;
		overflow: hidden;
	}

	#contact-me li a {
		padding: 0px 10px 0px 0px;
		float: left;
	}

	input {
		width: 100%;
		padding: 0px 30px 0px 0px;
	}

	textarea {
		width: 100%;
	}
	h3 {
		margin: 30px 30px;
		padding: 0px 0px 30px 0px;
	}
	.gallery img {
		width: 95%;
		height: auto;
		float: none;
		margin: 0 auto;

	}
	.portfolio-name {
		top: 75%;
		width: 90.3%;
		margin: 0 auto;
	}
	.portfolio-pic-left {
		position: relative;
		padding: 0 0 30px 5%;
		float: none;
	}

	.portfolio-pic-right {
		position: relative;
		padding: 0 0 30px 5%;
		float: none;
	}
}
@media screen and (max-width: 640px) {
	body {
		width: 100%;
	}

	#nav-buttons ul {
		background-color: white;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	#nav-buttons li a{
		float: none;
	}

	#bio-image {
		width: 90%;
		padding: 0px 0px 30px 0px;
		margin: 0% 5%;
		}

	.gallery img{
		width: 95%;
		height: auto;
		max-width: 541px;
	}


}

@media screen and (max-width: 546px){
	body {
		width: 546px;
	}
}
